[Unit]
Description=Node's distributed currency daemon
After=network.target

[Service]
User=node
Group=node

Type=forking
PIDFile=/var/lib/noded/noded.pid

ExecStart=/usr/bin/noded -daemon -pid=/var/lib/noded/noded.pid \
          -conf=/etc/node/node.conf -datadir=/var/lib/noded

ExecStop=-/usr/bin/node-cli -conf=/etc/node/node.conf \
         -datadir=/var/lib/noded stop

Restart=always
PrivateTmp=true
TimeoutStopSec=60s
TimeoutStartSec=2s
StartLimitInterval=120s
StartLimitBurst=5

[Install]
WantedBy=multi-user.target
